<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>PigLatinized Phrase</h1>
    <p><%= @piglatin_phrase %></p>
  </body>
</html>
